.mockup {
  height: 550px;
  flex-basis: 50%;
  position: relative;
  max-width: 616px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.computer_container {
  width: 100%;
  height: 100%;
  margin-inline: 0;
  margin-block: 0;
  transition: all 0.8s;
}

.computer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  transition: all 100ms;
}

.comp_selected {
  transform: scale(1);
  transition-delay: 0.35s;
}

.comp_def {
  transform: scale(1) translateY(100vh);
  opacity: 0;
}

.monitor {
  position: relative;
  height: 100%;
  max-height: 420px;
  width: 100%;
  overflow: hidden;
  z-index: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  pointer-events: none;
  border-left: 8px solid rgb(48, 48, 48);
  border-right: 8px solid rgb(48, 48, 48);
  border-bottom: 8px solid rgb(48, 48, 48);
  background-color: rgb(48, 48, 48);
  border-radius: 4px;
}

@media (max-width: 1270px) {
  .screen_c {
    width: 43vw;
    height: 25vw;
    margin-bottom: 9vw;
  }
}

.computer_track {
  display: flex;
  justify-content: flex-start;
  height: 100%;
  transition: all 1.5s;
}

.computer_slide {
  height: 100%;
}

.computer_slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
}

.phone_track {
  display: flex;
  height: 100%;
  width: 100%;
  transition: all 1s;
}

.phone_slide {
  height: 100%;
}

.phone_container {
  width: 100%;
  height: 100%;
  margin-inline: 0;
  margin-block: 0;
  transition: all 0.8s;
}

.phone {
  width: 220px;
  height: 220px;
  position: absolute;
  bottom: 10px;
  right: -26px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0 5px 15px rgba(0, 0, 0, 0.233));
  pointer-events: none;
  transition: all 100ms;
}

.phone_selected {
  transform: scale(1);
  transition-delay: 0.55s;
}

.phone_def {
  transform: scale(1) translateY(100vh);
  opacity: 0;
}

.screen_p {
  background-color: rgb(34, 34, 34);
  width: 48%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 4px solid rgb(48, 48, 48);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
}

.phone_topper {
  width: 100%;
}

.phone_screen {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
  background-color: #fff;
}

@keyframes phone-shake {
  0% {
    transform: scale(1);
  }
  90% {
    transform: scale(1);
  }
  93% {
    transform: scale(1.1) rotate(-5deg);
  }
  97% {
    transform: scale(1.1) rotate(5deg);
  }
  100% {
    transform: scale(1);
  }
}

.cursor {
  position: absolute;
  z-index: 2;
  transform: translateY(85px) translateX(180px);
  animation: cursor 4s infinite;
}
.cursor svg {
  width: 2rem;
  height: 2rem;
}
.cursor polygon {
  stroke-width: 1.3px;
  fill: white;
}

.arrows {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 3%;
  transition: all 100ms;
  width: 290px;
}

.arrows_selected {
  z-index: 2;
}

.arrows_def {
  z-index: -1;
}

.arrow_a {
  transition: all 50ms;
  cursor: pointer;
}

.arrow_animated {
  animation: arrow-push 5s infinite;
}

@keyframes arrow-push {
  0% {
    transform: scale(0.9);
    filter: brightness(70%);
  }
  4% {
    transform: scale(1);
    filter: brightness(100%);
  }
  99% {
    transform: scale(1);
    filter: brightness(100%);
  }
  100% {
    transform: scale(0.9);
    filter: brightness(70%);
  }
}

.arrow_a:hover {
  transition-delay: 0s !important;
  transform: scale(0.9);
  filter: brightness(70%);
}

.arrow {
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 200ms;
}

.arrow svg {
  width: 2.2rem;
  height: 2.2rem;
}

.arrow_selected {
  transform: scale(1);
  transition-delay: 1s;
}

.arrow_def {
  transform: scale(0);
  transition-duration: 40ms;
  transition-delay: 70ms !important;
  z-index: -1;
}

.arrow_left {
}

.arrow_left svg {
  margin-right: 4px;
}

.arrow_right {
}

.arrow_right svg {
  margin-left: 2px;
}

.pointer {
  width: 2rem;
  height: 2rem;
  position: absolute;
  z-index: 6;
  bottom: 0%;
  animation: pointer-entrance;
  animation-duration: 2s;
  display: block;
}

@keyframes pointer-entrance {
  0% {
    transform: translateX(100px) translateY(120vh);
  }
  100% {
    transform: translateX(0);
  }
}

.pointer svg {
  animation: pointer 10s infinite;
  filter: drop-shadow(0px 0px 1px #000);
}

@keyframes pointer {
  0% {
    transform: translateX(90px) translateY(0px);
    filter: drop-shadow(0px 0px 20px #000);
  }
  49% {
    transform: translateX(133px) translateY(-26px);
    filter: drop-shadow(0px 0px 20px #000);
  }
  50% {
    transform: translateX(133px) translateY(-26px) scale(1.3);
    filter: drop-shadow(0px 0px 20px #000) drop-shadow(0px 0px 20px #000)
      drop-shadow(0px 0px 5px #000);
  }
  51% {
    transform: translateX(133px) translateY(-26px);
    filter: drop-shadow(0px 0px 20px #000);
  }
  100% {
    transform: translateX(90px) translateY(0px);
    filter: drop-shadow(0px 0px 20px #000);
  }
}
@media (max-width: 1160px) {
  .screen_c {
    height: 380px;
    width: 92%;
    margin-bottom: 10vw;
  }
  .mockup {
    flex-basis: 100%;
    margin-top: 20px;
  }
}

@media (max-width: 652px) {
  .monitor {
    width: 95vw;
  }
  .screen_c {
    width: 93vw;
    height: 57vw;
    margin-bottom: 14vw;
  }
  .arrows {
    width: 43vw;
    bottom: 4vw;
  }
  .mockup {
    height: 80vw;
  }
  .phone {
    width: 40vw;
    height: 40vw;
    right: -30px;
    bottom: 0.5vw;
  }
}

.bar {
  width: 100%;
  height: 12px;
  background-color: rgb(48, 48, 48);
  padding: 0 4px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.dot {
  margin-left: 8px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
.red {
  background: rgb(218, 91, 91);
}

.yellow {
  background: rgb(214, 171, 78);
}

.green {
  background: rgb(60, 209, 122);
}

.phone_bar {
  width: 100%;
  height: 20px;
}
