.mockup {
  height: 550px;
  flex-basis: 50%;
  position: relative;
  max-width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

@media (max-width: 1160px) {
  .mockup {
    flex-basis: 100%;
    margin-top: 20px;
    max-width: 700px;
  }
}

@media (max-width: 652px) {
  .mockup {
    height: 80vw;
    margin-top: 0px;
  }
}
