.loader {
  position: fixed;
  z-index: 500;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* backdrop-filter: blur(200px); */
}

.loader_light {
  animation: load-in-light 2s;
}

.loader_dark {
  animation: load-in-dark 2s;
}

@keyframes load-in-dark {
  0% {
    opacity: 1;
    background-color: rgb(0, 0, 0);
  }
  10% {
    background-color: rgb(0, 0, 0);
    opacity: 1;
  }
  100% {
    background-color: rgba(0, 0, 0, 0);
    opacity: 0;
  }
}

@keyframes load-in-light {
  0% {
    opacity: 1;
    background-color: rgb(255, 255, 255);
  }
  10% {
    background-color: rgb(255, 255, 255);
    opacity: 1;
  }
  100% {
    background-color: rgba(255 255, 255, 0);
    opacity: 0;
  }
}
