.portfolio {
  max-height: 100vh;
  height: 100vh;
  padding-top: 100px;
  background: #232526;
  background: linear-gradient(to right, #080808, #131313, #222222, #0f0f0f);
}

@media (max-width: 1160px) {
  .portfolio {
    max-height: none;
    height: auto;
    padding-top: 0;
  }
}
