.section {
  position: relative;
  z-index: 2;
  backdrop-filter: brightness(105%) blur(20px);
  transition: all 2s;
  color: #fff;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: rgb(0 0 0 / 20%) -5px 6px 6px -3px,
    rgb(0 0 0 / 14%) -5px 10px 14px 1px, rgb(0 0 0 / 12%) -5px 4px 18px 3px;
}

.row {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  list-style: none;
  margin-block: 0;
  margin-inline: 0;
  padding-inline: 0;
  position: relative;
  width: calc(100% + 20px);
  left: -10px;
  z-index: 1;
}

.title {
  position: absolute;
  transition: all 200ms;
  opacity: 0.5;
  font-size: 1rem;
  top: 30px;
}
.title_show {
  /* transform: scale(1); */
}

.title_hide {
  /* transform: scale(1); */
}
