.item {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  transition: all 1s;
  position: relative;
  z-index: 1;
}

.item_selected {
  opacity: 1;
}

.item_def {
  opacity: 0;
}

.project {
  height: 100%;
}

.project_selected {
  position: relative;
  z-index: 2;
  transition: all 0s;
}

.project_def {
  position: absolute;
  z-index: 0;
  opacity: 0;
  transition: all 2s;
}

.padding_mobile_extra {
  padding: 0;
}

.padding_mobile_def {
  padding: 0;
}

.dark_border {
  border: 0 0 0 transparent;
}

.light_border {
  border: 0 0 0 transparent;
}

@media (max-width: 1160px) {
  .item_def {
    transform: scale(1);
  }
  .padding_mobile_extra {
    padding: 50px 0;
    padding-top: 120px;
  }
  .padding_mobile_def {
    padding: 50px 0;
    padding-bottom: 100px;
  }
  .dark_border {
    border-top: 8px solid rgb(22, 22, 22);
  }
  .light_border {
    border-top: 8px solid #fff;
  }
}
