.mosaic {
  min-height: 550px;
  height: 550px;
  flex-basis: 50%;
  position: relative;
  /* max-width: 206px; */
  /* l */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  /* removing ul */
  list-style: none;
  margin-block: 0;
  margin-inline: 0;
  padding-inline: 0;
}

@media (max-width: 1160px) {
  .mosaic {
    flex-basis: 100%;
    left: -5%;
    /* animation: mosaic-mobile 60s infinite; */
  }
}

@media (max-width: 790px) {
  .mosaic {
    animation: mosaic-mobile 60s infinite;
    min-height: 400px;
    height: 400px;
  }
}

@keyframes mosaic-mobile {
  0% {
    transform: translateX(-10%);
  }
  50% {
    transform: translateX(-70%);
  }
  100% {
    transform: translateX(-10%);
  }
}
