.section {
  width: 100%;
  padding: 40px 0;
  position: relative;
  z-index: 1;
  /* color: #fff; */
  color: inherit;
  min-height: 630px;
}
.container {
  position: relative;
}
.projects {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}

@media (max-width: 1160px) {
  .section {
    padding: 0;
  }
  .projects {
    flex-wrap: wrap;
    width: 100vw !important;
  }
}

@keyframes fade-up-in {
  0% {
    opacity: 0;
    /* transform: translateY(50vh) scale(0); */
    transform: scale(0.5);
  }
  50% {
    opacity: 0;
    /* transform: translateY(50vh) scale(0); */
    transform: scale(0.5);
  }
  65% {
    opacity: 1;
    /* transform: translateY(0); */
    transform: scale(1);
  }
  72% {
    opacity: 1;
    /* transform: translateY(0); */
    transform: scale(1.05);
  }
  85% {
    opacity: 1;
    /* transform: translateY(0); */
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    /* transform: translateY(0); */
    transform: scale(1);
  }
}
